html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}


.header {
    height: 50px;
    width: 100%;
}

.logo {
    height: 95%;
    width: auto;
    background-color: white;
} 

.greeting {
    float: right;
    padding-right: 4px;
}

.parallax1 {
    background-image: url("images/Screen Shot 2019-01-22 at 1.29.18 PM copy.png");
}

.parallax2 {
    background-image: url("images/Screen Shot 2019-01-22 at 1.28.24 PM copy.png");
}

.parallax3 {
    background-image: url("images/Screen Shot 2019-01-22 at 1.28.59 PM copy.png");
}

.parallax1, .parallax2, .parallax3 {
    min-height: 700px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    text-align: center;
    margin: 100px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}

.footer {
    min-height: 250px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer img {
    width: 100%;
    height: auto;
}

.signup {
    -moz-box-shadow: 0px 0px 0px 0px #bdbdbd;
	-webkit-box-shadow: 0px 0px 0px 0px #bdbdbd;
	box-shadow: 0px 0px 0px 0px #bdbdbd;
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:1px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e6e6e6;
}

.signup:hover {
	background-color:#e8e8e8;
}
.signup:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width:474px) {
    .greeting {
        float: left;
        padding-right: 4px;
    }

    .logo {
        display: block;
        height: 95%;
        width: auto;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    } 
}
